create oa to ward wards lookup
--
...using population weighted centroid

In [28]:
# get the spatial dataset variables from the first notebook: 
# wards, oa, lsoa, msoa, lbth_oa21_lsoa21_msoa21_lad21, oa_ward_lookup, oa_centroids
%run "./0.0-lbth-spatial-datasets.ipynb"

In [29]:
# use geopandas spatial join to link oa centroids to wards 
df = oa_centroids.sjoin(wards, how='left').drop(columns=['index_right', 'geometry'])
df.rename(columns = {'NAME':'ward_name'}, inplace=True)
df.to_csv('../data/external/lbth_oa21_ward_lookup.csv', index=False)
df.head()

      oa21cd           ward_name
0  E00021642            Shadwell
1  E00021147  Bethnal Green East
2  E00167131        Canary Wharf
3  E00021156  Bethnal Green West
4  E00021591       Stepney Green